{% load humanize %}
<div class="card">
    <div class="content">
        <div class="header">
            <span class="ui small primary circular label">{{ consumption.quantity }}</span>
            &nbsp;{{ consumption.when|naturalday|capfirst }}
        </div>
        <div class="meta">{{ consumption.when|time }}</div>
    </div>
    <div class="extra content">
        <div class="ui two small buttons">
            <a class="ui basic button"
               href="{% url 'medication:consumption-edit' medicinepk=consumption.medicine.pk pk=consumption.pk %}">Edit</a>
            <a class="ui basic button"
               href="{% url 'medication:consumption-delete' medicinepk=consumption.medicine.pk pk=consumption.pk %}">Delete</a>
        </div>
    </div>
</div>
