{% extends "base.html" %}
{% load medication_extras %}
{% load humanize %}
{% block title %}
    {% medicine_icon %}
    <div class="content">
        {{ object }}
        <div class="sub header">{{ consumptions.count|apnumber|title }} consumptions</div>
    </div>
{% endblock title %}
{% block content %}
    <a class="ui small basic button"
       href="{% url 'medication:medicine-index' %}">
        <i aria-hidden="true" class="left arrow icon"></i>
        Back to Medicines
    </a>
    <div class="ui hidden divider"></div>
    <div class="ui grid">
        <div class="four wide column">
            <h3 class="ui header">
                Schedules&nbsp;
                <a href="{% url 'medication:schedule-create' medicinepk=object.pk %}"
                   class="mini icon ui button">
                    <i aria-hidden="true" class="icon plus"></i>
                </a>
            </h3>
            <div class="ui cards">
                {% for schedule in schedules %}
                    {% schedule_card schedule %}
                {% empty %}
                    <p>
                        Nothing here!
                    </p>
                {% endfor %}
            </div>
        </div>
        <div class="twelve wide column">
            <h3 class="ui header">
                Consumptions&nbsp;
                <a href="{% url 'medication:consumption-create' medicinepk=object.pk %}"
                   class="mini icon ui button">
                    <i aria-hidden="true" class="icon plus"></i>
                </a>
            </h3>
            <div class="ui cards">
                {% for consumption in consumptions %}
                    {% consumption_card consumption %}
                {% empty %}
                    <p>
                        Nothing here!
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
