{% extends "base.html" %}
{% block title %}
    {% if object %}
        Edit
    {% else %}
        Add
    {% endif %}
    Medicine
{% endblock title %}
{% block content %}
    <form method="post" class="ui form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fields">
            <div class="field">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui buttons">
            <a class="cancel ui button" href="{% url 'medication:medicine-index' %}">Cancel</a>
            <div class="or"></div>
            <button class="ui positive button" type="submit">Save</button>
        </div>
    </form>
{% endblock content %}
