{% extends "base.html" %}
{% load medication_extras %}
{% block title %}
    My Medicines&nbsp;
    <a href="{% url 'medication:medicine-create' %}"
       class="mini icon ui button">
        <i aria-hidden="true" class="icon plus"></i>
    </a>
{% endblock title %}
{% block content %}
    {% if object_list %}
        <div class="ui cards">
            {% for medicine in object_list %}
                {% medicine_card medicine %}
            {% endfor %}
        </div>
    {% else %}
        {% include "medication/medicine_list_empty.html" %}
    {% endif %}
{% endblock content %}
