{% extends "base.html" %}
{% load humanize %}
{% load body_extras %}
{% block title %}
    {% report_icon %}
    <div class="content">
        {{ object.when }}
        <div class="sub header">{{ object.when|naturalday|title }} • {{ object.weight_display }}</div>
    </div>
{% endblock title %}
{% block content %}
    {% if object.bodyareaentry_set.count %}
        <a class="small basic ui button" href="{% url 'body:report-index' %}">
            <i aria-hidden="true" class="left arrow icon"></i>
            Back to Body
        </a>
        <div class="ui divider hidden"></div>
        <div class="ui cards">
            {% for entry in object.bodyareaentry_set.all %}
                {% entry_card entry %}
            {% endfor %}
        </div>
        <div class="ui divider hidden"></div>
        <a href="{% url 'body:entry-create' view.kwargs.pk %}"
           class="ui labeled icon button">
            <i aria-hidden="true" class="icon plus"></i>
            Add Entry
        </a>
    {% else %}
        {% include "body/report_detail_empty.html" %}
    {% endif %}
{% endblock content %}
