{% extends "base.html" %}
{% load humanize %}
{% load body_extras %}
{% block title %}
    My Body
{% endblock title %}
{% block content %}
    {% if object_list %}
        <div class="ui cards">
            {% for report in object_list %}
                {% report_card report %}
            {% endfor %}
        </div>
        <div class="ui divider hidden"></div>
        <a class="ui button labeled icon" href="{% url 'body:report-create' %}">
            <i aria-hidden="true" class="icon plus"></i>
            Add Report
        </a>
    {% else %}
        {% include "body/report_list_empty.html" %}
    {% endif %}
{% endblock content %}
