{% extends "base.html" %}
{% load humanize %}
{% load body_extras %}
{% block title %}
    Log Entries
{% endblock title %}
{% block content %}
    <div class="ui divider hidden"></div>
    <form method="post" class="ui form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for group in form|chunks:10 %}
            <div class="fields">
                {% for field in group %}
                    <div class="field">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="ui divider hidden"></div>
        <div class="ui buttons">
            <a class="cancel ui button"
               href="{% url 'report-detail' form.report.pk %}">Cancel</a>
            <div class="or"></div>
            <button class="ui positive button" type="submit">Save</button>
        </div>
    </form>
{% endblock content %}
{% block scripts %}
    $('#{{ form.when.id_for_label }}')
    .calendar({
    type: 'date',
    maxDate: new Date(),
    disabledDates: [
    {% for disabled_date in disabled_dates %}"{{ disabled_date }}",{% endfor %}
    ]
    })
    ;
{% endblock scripts %}
