{% load humanize %}
<div class="card {{ colour }}">
    <div class="content">
        <div class="header">{{ entry.body_area }}</div>
        <div class="description">
            <div class="ui small label {{ colour }}">
                {{ entry.measurement_with_unit|capfirst }}
                <div class="detail">{{ diff|stringformat:"+g" }}</div>
            </div>
            {% for sensation in entry.sensations.all %}
                <div class="ui small label primary">{{ sensation.name }}</div>
            {% empty %}
                <div class="ui small label">No sensations</div>
            {% endfor %}
        </div>
    </div>
    <a class="ui bottom attached button"
       href="{% url 'entry-update' reportpk=entry.report.pk pk=entry.pk %}">Edit</a>
</div>
