{% load humanize %}
<div class="card">
    <div class="content">
        <div class="header">
            <i aria-hidden="true" class="circular primary ruler combined icon"></i>&nbsp;{{ entry.body_area }}
        </div>
        <div class="meta">{{ entry.measurement_with_unit|capfirst }}</div>
        <div class="description">
            {% for sensation in entry.sensations.all %}
                <span class="ui small label primary">{{ sensation.name }}</span>
            {% empty %}
                <span class="ui small label">No sensations</span>
            {% endfor %}
        </div>
    </div>
    <div class="extra content">
        <div class="ui two small buttons">
            <a class="ui basic button"
               a
               class="ui basic button"
               href="{% url 'body:entry-update' reportpk=entry.report.pk pk=entry.pk %}">Edit</a>
            <a class="ui basic button"
               href="{% url 'body:entry-delete' reportpk=entry.report.pk pk=entry.pk %}">Delete</a>
        </div>
    </div>
</div>
