{% extends "base.html" %}
{% load humanize %}
{% block title %}
    <i aria-hidden="true" class="trash red alternate icon circular"></i>
    <div class="content">
        Delete Entry?
        <div class="sub header">{{ object.body_area }}</div>
    </div>
{% endblock title %}
{% block content %}
    <p>
        This is for <span class="ui text red">{{ object.measurement_with_unit }}</span> with <span class="ui text red">{{ object.sensations.count|apnumber }}</span> sensation{{ object.sensations.count|pluralize }}.
    </p>
    <p>
        There's no going back from this. This will also delete all related information.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="ui divider hidden"></div>
        <div class="ui buttons">
            <a class="cancel ui button"
               href="{% url 'body:report-detail' object.report.pk %}">Cancel</a>
            <div class="or"></div>
            <button class="ui negative button" type="submit">Delete</button>
        </div>
    </form>
{% endblock content %}
