{% extends "base.html" %}
{% load body_extras %}
{% block title %}
    {% icons8_image "female-user" %}
    <div class="content">{{ greeting }}</div>
{% endblock title %}
{% block content %}
    <div class="ui stackable grid">
        {% for item in items %}
            <div class="eight wide column">
                <h3 class="ui top attached header">{{ item.title }}</h3>
                <div class="ui attached segment">
                    <p>
                        {{ item.body }}
                    </p>
                    <a href="{% url item.path %}" class="ui button primary">Go to {{ item.title }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
