{% extends "base.html" %}
{% load body_extras %}
{% block title %}
    {% medicine_icon %}
    <div class="content">
        {% if object %}
            Edit
        {% else %}
            Add
        {% endif %}
        Medicine
    </div>
{% endblock title %}
{% block content %}
    <form method="post" class="ui form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fields">
            <div class="field">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui buttons">
            <a class="cancel ui button"
               href="{% if object %}{% url 'medicine-detail' object.pk %}{% else %}{% url 'medicine-index' %}{% endif %}">Cancel</a>
            <div class="or"></div>
            <button class="ui positive button" type="submit">Save</button>
        </div>
        {% if object %}
            <a class="ui basic icon button"
               href="{% url 'medicine-delete' object.pk %}">
                <i aria-hidden="true" class="trash alternate icon"></i></a>
            {% endif %}
        </form>
    {% endblock content %}
