{% extends "base.html" %}
{% block title %}
    <i aria-hidden="true" class="trash red alternate icon circular"></i>
    <div class="content">
        Delete Medicine?
        <div class="sub header">{{ object }}</div>
    </div>
{% endblock title %}
{% block content %}
    <p>
        There's no going back from this. This will also delete all related information.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="ui buttons">
            <a class="cancel ui button" href="{% url 'medicine-index' %}">Cancel</a>
            <div class="or"></div>
            <button class="ui negative button" type="submit">Delete</button>
        </div>
    </form>
{% endblock content %}
