{% extends "base.html" %}
{% load body_extras %}
{% block title %}
    {% delete_icon %}
    <div class="content">
        Delete Refill?
        <div class="sub header">{{ object.medicine }} ({{ object.quantity }})</div>
    </div>
{% endblock title %}
{% block content %}
    <p>
        There's no going back from this. This will also delete all related information.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="ui buttons">
            <a class="cancel ui button"
               href="{% url 'medicine-detail' object.medicine.pk %}">Cancel</a>
            <div class="or"></div>
            <button class="ui negative button" type="submit">Delete</button>
        </div>
    </form>
{% endblock content %}
