{% extends "base.html" %}
{% load humanize %}
{% load body_extras %}
{% block title %}
    {% report_icon %}
    <div class="content">
        {{ object.when }}
        <div class="sub header">{{ object.when|naturalday|title }} • {{ object.weight_display }}</div>
    </div>
{% endblock title %}
{% block content %}
    <div class="small ui buttons">
        <a class="basic ui button" href="{% url 'report-index' %}">
            <i aria-hidden="true" class="left arrow icon"></i>
            Back to Body
        </a>
        <a class="ui button primary"
           href="{% url 'entry-create' reportpk=report.pk %}">Add Entry</a>
        <a class="ui basic button" href="{% url 'report-update' report.pk %}">Edit</a>
        <a class="ui basic button" href="{% url 'report-delete' report.pk %}">Delete</a>
    </div>
    <div class="ui divider hidden"></div>
    {% if object.entry_set.count %}
        <div class="ui cards">
            {% for entry in object.entry_set.all %}
                {% entry_card entry %}
            {% endfor %}
        </div>
    {% else %}
        {% include "body/report_detail_empty.html" %}
    {% endif %}
{% endblock content %}
