{% load humanize %}
{% load body_extras %}
<div class="card">
    <div class="content">
        <div class="header">{% report_icon %}&nbsp;{{ report.when|naturalday|title }}</div>
        <div class="meta">
            {{ report.entry_set.count|apnumber|capfirst }} entr{{ report.entry_set.count|pluralize:'y,ies' }} • {{ report.weight_display }}
            {% if report.waist_hip_ratio %}• WHR: {{ report.waist_hip_ratio|floatformat:3 }}{% endif %}
        </div>
        <div class="description">
            {% for entry in report.entry_set.all %}
                <span class="ui label small">{{ entry.body_area.name }} ({{ entry.measurement_with_unit }})</span>
            {% endfor %}
        </div>
    </div>
    <div class="extra content">
        <div class="ui four tiny buttons">
            <a class="ui primary button"
               href="{% url 'body:report-detail' report.pk %}">View</a>
            <a class="ui basic button"
               href="{% url 'body:entry-create' reportpk=report.pk %}">Add Entry</a>
        </div>
    </div>
</div>
