{% extends "base.html" %}
{% load humanize %}
{% load body_extras %}
{% block title %}
    {% delete_icon %}
    <div class="content">
        Delete Report?
        <div class="sub header">{{ object.when }}</div>
    </div>
{% endblock title %}
{% block content %}
    <p>
        This report has <span class="ui text red">{{ object.entry_set.count|apnumber }}</span> entr{{ object.entry_set.count|pluralize:"y,ies" }}.
    </p>
    <p>
        There's no going back from this. This will also delete all related information.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="ui divider hidden"></div>
        <div class="ui buttons">
            <a class="cancel ui button" href="{% url 'report-update' object.pk %}">Cancel</a>
            <div class="or"></div>
            <button class="ui negative button" type="submit">Delete</button>
        </div>
    </form>
{% endblock content %}
