{% load humanize %}
{% load body_extras %}
<div class="card">
    <div class="content">
        <div class="header">{% report_icon %}&nbsp;{{ report.when|naturalday|title }}</div>
        <div class="meta">
            {{ report.entry_set.count|apnumber|capfirst }} entr{{ report.entry_set.count|pluralize:'y,ies' }}
        </div>
        <div class="description">
            {% for tag_name, tag_value in optional_tags %}
                <div class="ui label violet small">
                    {{ tag_name }}
                    <div class="detail">{{ tag_value }}</div>
                </div>
            {% endfor %}
            {% for entry in report.entry_set.all %}
                <div class="ui label teal small">
                    {{ entry.body_area.name }}
                    <div class="detail">{{ entry.measurement|floatformat:"g" }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a class="ui bottom attached button"
       href="{% url 'report-detail' report.pk %}">View</a>
</div>
