{% extends "base.html" %}
{% load humanize %}
{% load body_extras %}
{% block title %}
    {% if object %}
        Edit
    {% else %}
        Add
    {% endif %}
    {{ body_area.name }} Report
{% endblock title %}
{% block content %}
    <div class="ui divider hidden"></div>
    <form method="post" class="ui form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fields">
            {% if form.when %}
                <div class="field">
                    {{ form.when.label_tag }}
                    <div class="ui calendar" id="{{ form.when.id_for_label }}">
                        <div class="ui input left icon">
                            <i aria-hidden="true" class="calendar icon"></i>
                            <input type="text"
                                   placeholder="Date/Time"
                                   name="{{ form.when.name }}"
                                   value="{{ form.when.initial|date:"c" }}"/>
                        </div>
                    </div>
                    {{ form.when.errors }}
                </div>
            {% endif %}
            <div class="field">
                {{ form.weight_in_kg.label_tag }}
                <input style="width: 80px;"
                       inputmode="decimal"
                       pattern="\d*(\.\d*)?"
                       type="text"
                       name="{{ form.weight_in_kg.name }}"
                       value="{{ form.weight_in_kg.initial|floatformat:"g" }}"
                       id="{{ form.weight_in_kg.id_for_label }}"/>
                {{ form.weight_in_kg.errors }}
            </div>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui buttons">
            <a class="cancel ui button"
               href="{% if object %}{% url 'report-detail' object.pk %}{% else %}{% url 'report-index' %}{% endif %}">Cancel</a>
            <div class="or"></div>
            <button class="ui positive button" type="submit">Save</button>
        </div>
        {% if object %}
            <a class="basic ui icon button"
               href="{% url 'report-delete' pk=object.pk %}"><i aria-hidden="true" class="trash alternate icon"></i></a>
        {% endif %}
    </form>
{% endblock content %}
{% block scripts %}
    {% if form.when %}
        $('#{{ form.when.id_for_label }}')
        .calendar({
        type: 'date',
        maxDate: new Date(),
        disabledDates: [
        {% for disabled_date in disabled_dates %}"{{ disabled_date }}",{% endfor %}
        ]
        })
        ;
    {% endif %}
{% endblock scripts %}
