{% extends "base.html" %}
{% load humanize %}
{% load body_extras %}
{% block title %}
    My Body&nbsp;
    <a href="{% url "report-create" %}" class="mini icon ui button">
        <i aria-hidden="true" class="icon plus"></i>
    </a>
{% endblock title %}
{% block content %}
    {% if object_list %}
        <div class="ui stackable grid">
            <div class="eleven wide column">
                {% if summary_chart_data %}
                    {% include "body/report_summary_chart.html" with data=summary_chart_data %}
                {% endif %}
            </div>
            <div class="five wide column">
                <div class="ui cards">
                    {% for report in object_list %}
                        {% report_card report %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {% include "body/report_list_empty.html" %}
    {% endif %}
{% endblock content %}
