{% load humanize %}
<div class="{% if schedule.is_active %}green{% endif %} card">
    <div class="content">
        <div class="header">
            <i aria-hidden="true"
               class="{% if schedule.is_active %}green{% else %}primary{% endif %} circular clock icon"></i>&nbsp;
            {% if schedule.is_active %}
                <strong>Next:</strong> {{ schedule.time }}
            {% elif schedule.is_past %}
                <strong>Finished:</strong> {{ schedule.end_date|naturalday }}
            {% elif schedule.is_future %}
                <strong>Starts:</strong> {{ schedule.start_date|naturalday }}
            {% endif %}
        </div>
        {% if schedule.next_consumption %}
            <div class="meta">
                Every {{ schedule.frequency_in_days|apnumber }} day{{ schedule.frequency_in_days|pluralize }}
                {% if schedule.is_active %}
                    ({{ schedule.next_consumption|naturaltime }})
                {% else %}
                    ({{ schedule.time }})
                {% endif %}
            </div>
        {% endif %}
    </div>
    <a class="ui bottom attached button"
       href="{% url 'schedule-update' medicinepk=schedule.medicine.pk pk=schedule.pk %}">Edit</a>
</div>
