{% extends "base.html" %}
{% load humanize %}
{% block title %}
    {% if object %}
        Edit
    {% else %}
        Add
    {% endif %}
    Event
{% endblock title %}
{% block content %}
    <div class="ui divider hidden"></div>
    <form method="post" class="ui form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="three fields">
            <div class="field">
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>
            <div class="field">
                {{ form.when.label_tag }}
                <div class="ui calendar" id="{{ form.when.id_for_label }}">
                    <div class="ui input left icon">
                        <i aria-hidden="true" class="calendar icon"></i>
                        <input type="text"
                               placeholder="Date/Time"
                               name="{{ form.when.name }}"
                               value="{{ form.when.initial|date:"r" }}"/>
                    </div>
                </div>
                {{ form.when.errors }}
            </div>
            <div class="field">
                <label>{{ form.category.label }}</label>
                <div class="ui selection dropdown">
                    <input type="hidden"
                           name="{{ form.category.name }}"
                           value="{{ form.category.initial|default_if_none:"" }}"/>
                    <i class="dropdown icon" aria-hidden="true"></i>
                    <div class="default text">{{ form.category.label }}</div>
                    <div class="menu">
                        {% for val, label in form.category.field.choices %}
                            <div class="item" data-value="{{ val }}">{{ label }}</div>
                        {% endfor %}
                    </div>
                </div>
                {% if form.category.errors %}<div class="ui negative message">{{ form.category.errors }}</div>{% endif %}
            </div>
        </div>
        <div class="ui divider hidden"></div>
        <div class="ui buttons">
            <a class="cancel ui button" href="{% url 'life_events:event-index' %}">Cancel</a>
            <div class="or"></div>
            <button class="ui positive button" type="submit">Save</button>
        </div>
        {% if object %}
            <a class="basic ui icon button"
               href="{% url 'life_events:event-delete' object.pk %}"><i aria-hidden="true" class="trash alternate icon"></i></a>
        {% endif %}
    </form>
{% endblock content %}
{% block scripts %}
    $('#{{ form.when.id_for_label }}')
    .calendar({
    type: 'datetime',
    })
    ;
{% endblock scripts %}
