{% load humanize %}
{% load lifeevents_extras %}
<div class="card">
    <div class="content">
        <div class="header">{% event_icon %}&nbsp;{{ event.name }}</div>
        <div class="meta">{{ event.when|date }}</div>
        {% if event.category %}<div class="description">{{ event.category }}</div>{% endif %}
    </div>
    <div class="extra content">
        <div class="ui two tiny basic buttons">
            <a class="ui button"
               href="{% url 'life_events:event-update' event.pk %}">Edit</a>
            <a class="ui button"
               href="{% url 'life_events:event-delete' event.pk %}">Delete</a>
        </div>
    </div>
</div>
