{% extends "fomantic.html" %}
{% block fomantic_content %}
    {% include "nav.html" %}
    <div class="pusher">
        <div class="top-page-spacer"></div>
        <div id="content" class="ui container">
            <h2 class="ui header">
                {% block title %}
                    (no title)
                {% endblock title %}
            </h2>
            <div class="ui divider hidden"></div>
            {% block content %}
                (no content)
            {% endblock content %}
        </div>
        <div class="ui hidden divider"></div>
    </div>
{% endblock fomantic_content %}
{% block fomantic_scripts %}
    <script>
        $('.ui.dropdown').dropdown();
        $('.ui.sidebar').sidebar({
        }).sidebar('attach events', '#mobile-item');        
        {% block scripts %}
        {% endblock scripts %}
    </script>
{% endblock fomantic_scripts %}
