{% if user.is_authenticated %}
    <div class="ui grid" id="nav-grid">
        <div class="computer only row">
            <div class="column">
                <div class="ui fixed menu">
                    <a href="{% url 'home:index' %}" class="header item">Bodytastic</a>
                    {% include "nav_options.html" %}
                    <div class="right menu">
                        <a class="item" href="{% url 'logout' %}">Log out ({{ request.user }})&nbsp;<i aria-hidden="true" class="sign out alternate icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tablet mobile only row">
            <div class="column">
                <div class="ui fixed menu">
                    <a id="mobile-item" class="item"><i class="bars icon" aria-hidden="true"></i></a>
                    <a href="{% url 'home:index' %}" class="header item">Bodytastic</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="ui sidebar vertical inverted menu">
    <div class="top-page-spacer"></div>
    {% include "nav_options.html" %}
    <a class="item" href="{% url 'logout' %}">Log out ({{ request.user }})&nbsp;<i aria-hidden="true" class="sign out alternate icon"></i></a>
</div>
