<div class="ui grid">
    <div class="computer only row">
        <div class="column">
            <div class="header item">Bodytastic</div>
            <nav class="ui menu">
                {% include "nav_options.html" %}
            </nav>
            <a class="item" href="{% url 'logout' %}">Log out ({{ request.user }})&nbsp;<i aria-hidden="true" class="sign out alternate icon"></i></a>
        </div>
    </div>
    <div class="tablet mobile only row">
        <div class="column">
            <div class="ui menu">
                <a id="mobile-item" class="item"><i class="bars icon"></i></a>
            </div>
        </div>
    </div>
    <div class="ui pushable segment">
        <nav class="ui sidebar vertical menu">
            {% include "nav_options.html" %}
        </nav>
        <div class="pusher">
            <div id="content">Content here</div>
        </div>
    </div>
</div>
