<a class="{% if request.resolver_match.app_name == "medication" %}active{% endif %} item"
   href="{% url "medicine-index" %}">Medication</a>
<a class="{% if request.resolver_match.app_name == "body" %}active{% endif %} item"
   href="{% url "report-index" %}">Body</a>
<a class="{% if request.resolver_match.app_name == "life_events" %}active{% endif %} item"
   href="{% url "event-index" %}">Life Events</a>
<a class="{% if request.resolver_match.app_name == "mind_and_soul" %}active{% endif %} item"
   href="{% url "emotionreport-index" %}">Mind &amp; Soul</a>
