{% extends "base.html" %}
{% load humanize %}
{% load body_extras %}
{% block title %}
    {% report_icon %}
    <div class="content">
        {{ object.when }}
        <div class="sub header">
            {{ object.emotionentry_set.count|apnumber|capfirst }} emotion{{ object.emotionentry_set.count|pluralize }}
        </div>
    </div>
{% endblock title %}
{% block content %}
    <div class="small ui buttons">
        <a class="basic ui button" href="{% url 'mind_and_soul:report-index' %}">
            <i aria-hidden="true" class="left arrow icon"></i>
            Back to Mind &amp; Soul
        </a>
        {% comment %} <a class="ui button primary" href="{% url 'mind_and_soul:entry-create' reportpk=report.pk %}">Add Entry</a> {% endcomment %}
        {% comment %} <a class="ui basic button"
    {% endcomment %}
    {% comment %}
    href="{% url 'body:report-update' report.pk %}">Edit</a> {% endcomment %}
        {% comment %} <a class="ui basic button"
    {% endcomment %}
    {% comment %}
    href="{% url 'body:report-delete' report.pk %}">Delete</a> {% endcomment %}
    </div>
    <h3 class="ui header">
        Emotions&nbsp;
        <a href="" class="mini icon ui button">
            <i aria-hidden="true" class="icon plus"></i>
        </a>
    </h3>
    <div class="ui cards">
        {% for entry in object.emotionentry_set.all %}
            {% include "mind_and_soul/entry_card.html" with entry=entry %}
        {% empty %}
            {% include "mind_and_soul/entry_empty_card.html" %}
        {% endfor %}
    </div>
{% endblock content %}
