{% extends "base.html" %}
{% load humanize %}
{% load mind_and_soul_extras %}
{% block title %}
    My Mind &amp; Soul&nbsp;
    <a href="{% url "mind_and_soul:report-create" %}"
       class="mini icon ui button">
        <i aria-hidden="true" class="icon plus"></i>
    </a>
{% endblock title %}
{% block content %}
    {% if object_list %}
        <div class="ui cards">
            {% for report in object_list %}
                {% include "mind_and_soul/report_card.html" with report=report %}
            {% endfor %}
        </div>
    {% else %}
        {% include "mind_and_soul/report_list_empty.html" %}
    {% endif %}
{% endblock content %}
