{% load humanize %}
{% load mind_and_soul_extras %}
<div class="card">
    <div class="content">
        <div class="header">{% report_icon %}&nbsp;{{ report.when|naturaltime|title }}</div>
        <div class="meta">{{ report.when }}</div>
        <div class="description"></div>
    </div>
    <div class="extra content">
        <div class="ui two tiny buttons">
            <a class="ui primary button"
               href="{% url 'mind_and_soul:report-detail' report.pk %}">View</a>
            {% comment %} <a class="ui basic button"
    {% endcomment %}
    {% comment %}
    href="{% url 'body:entry-create' reportpk=report.pk %}">Add Entry</a> {% endcomment %}
        </div>
    </div>
</div>
